---
layout: default
title: Homepage
gallery:
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/nachtisch.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/sorbet.jpg  
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/fleisch.jpg  
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/potatoe.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/pollo.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/Wein.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/Catering.jpg
---

        <!-- Header Banner -->
        <header class="grid bg-image bg-3 tall-90" id="Home">
            <div class="overlay grid col-12">
         
                {% include header-nav.html %}

                <div class="col-12 center">
                    <h1 class="light-text">Kulinaria <span>Bistro & Restaurant & Catering</span></h1> 
                </div>
            </div>
        </header>
    
        <!--  Willkommen & Kontakt Section -->
        <section class="grid padded padded-b-0 wide-text" id="Opening">
            <div class="col-6_sm-12 bg-image padded tall-50 light-text">
                <h4><em>Öffnungszeiten</em></h4>
                <p><b>Freitag & Samstag</b> 17:30 - 22:00 </p>
                <p class="small-text">*Küche schließt um 21 Uhr</p>
                <p class="margin-1 small-text">*Gruppen ab 20 Personen bewirten wir auch gerne zu gesonderten Öffnungszeiten. Sprechen Sie uns einfach an.</p>
                <h4><em>Adresse</em></h4>
                <p class="margin-1">Kulinaria | Bistro & Restaurant & Catering <br>Hauptstr. 29a | 56414 Hundsangen <br> Tel: 0157/82659220</p>
                <h4><em>Telefonische Erreichbarkeit</em></h4>
                <p><b>Montag - Samstag </b>11:30 - 14:30 Uhr <br><b>Montag - Donnerstag </b>16:00 - 19:00 Uhr</p>
            </div>
       
            <div class="col-6_sm-12-middle padded">
                <h2> Willkommen im Kulinaria</h2>
                <p class="margin-1"> Kulinarik ist die Fähigkeit, verschiedene Gerichte auf eine köstliche, nahrhafte und ästhetische Art zuzubereiten. Und dafür stehen wir im Kulinaria. Freuen Sie sich auf eine leckere und wöchentlich wechselnde Speisekarte mit frisch und kreativ zubereiteten Gerichten. Verbringen Sie einen schönen Abend in gemütlicher Atmosphäre bei uns im Kulinaria. </p>
                <p> Haben Sie Appetit bekommen? Dann schauen Sie doch am besten sofort vorbei uns lassen sich von unserem Service verwöhnen.</p>
            </div>
        </section>

        <!-- Photo Gallery Section -->
        <section class="padded">
            <div class="gallery grid" id="lightgallery">
                {% for item in page.gallery %}
              
                  <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
                    <div class="bg-image {{item.aspect-ratio}}" 
                        style="background-image: url('{{item.background_image}}');">
                    </div>
                  </a> 
                {% endfor %}
              </div>
        </section>
