---
layout: default
title: Homepage
gallery:
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/nachtisch.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/sorbet.jpg  
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/fleisch.jpg  
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/potatoe.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/pollo.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/Wein.jpg
  - column-size: col-6
    aspect-ratio: landscape
    background_image: /images/Catering.jpg
---

        <!-- Header Banner -->
        <header class="grid bg-image bg-3 tall-90" id="Home">
            <div class="overlay grid col-12">
         
                {% include header-nav.html %}

                <div class="col-12 center">
                    <h1 class="light-text">Kulinaria <span>Bistro & Restaurant & Catering</span></h1> 
                </div>
            </div>
        </header>

    
        <!--  Willkommen & Kontakt Section -->
        <section class="grid padded padded-b-0 wide-text" id="Opening">
            <div class="col-6_sm-12 bg-image padded tall-50 light-text">
                <h4>Öffnungszeiten</h4>
                <p><b>Freitag & Samstag</b> 17:30 - 22:00 </p>
                <p>*Küche schließt um 21 Uhr</p>
                <p class="margin-1">*Gruppen ab 20 Personen bewirten wir auch gerne zu gesonderten Öffnungszeiten. Sprechen Sie uns einfach an.</p>
                <h4>Adresse</h4>
                <p class="margin-1">Kulinaria | Bistro & Restaurant & Catering <br>Hauptstr. 29a | 56414 Hundsangen <br> Tel: 0157/82659220</p>
                <h4>Telefonische Erreichbarkeit</h4>
                <p><b>Montag - Samstag </b>11:30 - 14:30 Uhr <br><b>Montag - Donnerstag </b>16:00 - 19:00 Uhr</p>
            </div>
       
            <div class="col-6_sm-12-middle padded">
                <h2> Willkommen im Kulinaria</h2>
                <p class="margin-1"> Kulinarik ist die Fähigkeit, verschiedene Gerichte auf eine köstliche, nahrhafte und ästhetische Art zuzubereiten. Und dafür stehen wir im Kulinaria. Freuen Sie sich auf eine leckere und wöchentlich wechselnde Speisekarte mit frisch und kreativ zubereiteten Gerichten. Verbringen Sie einen schönen Abend in gemütlicher Atmosphäre bei uns im Kulinaria. </p>
                <p> Haben Sie Appetit bekommen? Dann schauen Sie doch am besten sofort vorbei uns lassen sich von unserem Service verwöhnen.</p>
            </div>
        </section>


        <!-- Photo Gallery Section -->
        <section class="padded">
            <div class="gallery grid" id="lightgallery">
                {% for item in page.gallery %}
              
                  <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
                    <div class="bg-image {{item.aspect-ratio}}" 
                        style="background-image: url('{{item.background_image}}');">
                    </div>
                  </a> 
                {% endfor %}
              </div>
        </section>

         <!-- Menu section  -->
         <section class="padded bg-featured light-text menu grid-center" id="Wein">
            <div class="col-12 center">
                <h2 class="text-lg"> Weinkarte </h2>
            </div>
            
            <div class="col-12">
                <h3 class="center"> Weissweine</h2>
                <p class="center">Deutschland</p>
                <div class="grid">
                    <div class="col-8"></div>
                    <div class="col-2 center"> 0,2l </div>
                    <div class="col-2 center"> 0,75l </div>
                   
                    <!-- Wein 1 -->
                    <div class="col-12">Weingut Schönleber-Blümlein, Rheingau</div>
                                
                    <div class="col-1"> </div>
                    <div class="col-1"> 2017</div>
                    <div class="col-4">Gutriesling</div>
                    <div class="col-2">trocken</div>
                    <div class="col-2 center">5,50€</div>
                    <div class="col-2 center">--</div>

                    <div class="col-12 small-text">Dieser Wein ist frisch und fruchtig und passt eigentlich immer, auch einfach mal so.</div>

                    <!-- Wein 2 -->                  
                    <div class="col-1"> </div>
                    <div class="col-1"> 2017</div>
                    <div class="col-4">Gutriesling</div>
                    <div class="col-2">freinherb</div>
                    <div class="col-2 center">5,50€</div>
                    <div class="col-2 center">--</div>

                    <div class="col-12 small-text">Wer es nicht ganz so trocken mag, liegt mit diesem spritzigen halbtrockenen Wein genau richtig.</div>
                
                    <!-- Wein 3 -->
                    <div class="col-12">Weingut H.J. Ernst, Rheingau</div>
                                
                    <div class="col-1"> </div>
                    <div class="col-1"> 2018</div>
                    <div class="col-4">Chardonnay</div>
                    <div class="col-2">trocken</div>
                    <div class="col-2 center">5,50€</div>
                    <div class="col-2 center">17,00€</div>

                    <div class="col-12 small-text">Ein mineralischer, feinfruchtig, cremiger Chardonnay, der frisch und saftig daherkommt. Er hat eine leichte Säure, ist harmonisch im
                        Abgang und ein guter Begleiter für alle Gerichte.</div>

                    <!-- Wein 4 -->                  
                    <div class="col-1"> </div>
                    <div class="col-1"> 2018</div>
                    <div class="col-4">Grauburgunder</div>
                    <div class="col-2">trocken</div>
                    <div class="col-2 center">6,50€</div>
                    <div class="col-2 center">21,00€</div>

                    <div class="col-12 small-text">Ein klassischer, säurearmer Burgunder mit kräftigen mineralischen Noten, der gerne zu Fisch- und Geflügelgerichten gewählt wird.</div>
                   
                    <!-- Wein 5 -->                             
                   <div class="col-1"> </div>
                   <div class="col-1"> 2017</div>
                   <div class="col-4">Riesling Classic</div>
                   <div class="col-2">trocken</div>
                   <div class="col-2 center">6,50€</div>
                   <div class="col-2 center">20,00€</div>

                   <div class="col-12 small-text">Ein klassischer feinfruchtiger und herzhafter Riesling, sehr harmonisch und mit einer feinen Restsüße. Dieser Weißwein hat ein klares
                    Riesling-Bukett und schmeckt ein wenig nach Zitrusfrüchten.</div>

                   <!-- Wein 6 -->                  
                   <div class="col-1"> </div>
                   <div class="col-1"> 2017</div>
                   <div class="col-4">Blanc de Noirs Spätburgunder</div>
                   <div class="col-2">trocken</div>
                   <div class="col-2 center">6,50€</div>
                   <div class="col-2 center">21,00€</div>

                   <div class="col-12 small-text">Ein Spätburgunder – weiß gekeltert! Dieser Wein verfügt über eine herrliche Spätburgunder-Aromatik, die mit der Lebendigkeit
                    und Frische eines Weißweins daherkommt.</div>
                
                </div>