---
layout: default
title: Homepage
aperitif:
  - gericht: Gin Tonic
    inhalte: Limette | Gurke | Minze
    preis: 7,00 €
  - gericht: Tanqueray Flor de Sevilla
    inhalte: Tonic | Orange | Rosmarin |Eis
    preis: 7,00 €
vorspeisen:
  - gericht: Carpaccio vom Räucherlachs
    inhalte: Rucola | Senfmarinade | Fenchelsalat | Orangen Vinaigrette
    preis: 12,00 €
  - gericht: Schaumsuppe von Roter Paprika
    inhalte: Schnittlauchcreme | Lachs |
    preis: 7,00 €
  - gericht: Gebackener Schafskäse
    inhalte: Kirschtomaten | Olivenpesto
    preis: 11,00 €
  - gericht: Tintenfischfilet paniert
    inhalte: Honig-Aioli | Zitrone
    preis: 10,00 €
hauptspeisen:
  - gericht: Iberico Filet und Nackensteak
    inhalte: Gnocchi | Pancetta | karamellisierte  Zwiebeln
    preis: 21,00 €
  - gericht: Wiener Schnitzel aus der Oberschale vom Kalb
    inhalte: hausgemachter Kartoffel-Gurken Salat | Senfmayonnaise | Preiselbeeren & Zitrone
    preis: 19,00 €
  - gericht: Schwarzer Heilbutt
    inhalte: gebrannter Lauch | Paprika Espuma| Tintenfisch | Blumenkohl
    preis: 23,00 €
  - gericht: Dry Age Koteleete unter der Tomatenhaube
    inhalte: Prosciutto di Parma | Kartoffel-Petersilien Mousse
    preis: 19,00 €
dessert:
  - gericht: Crème Brûllée Bourbon Vanille
    inhalte: marinierte Beeren | hausgemachtes Eis
    preis: 8,00 €
steak:
  - gericht: Australien Black Angus Rib Eye Steak (ca. 380gr.)
    inhalte: Coleslaw (Krautsalat) | Steakhaus Fritten
    preis: 34,00 €
  - gericht: Australien Black Angus Rumpsteak (ca. 300gr.)
    inhalte: Coleslaw (Krautsalat) | Steakhaus Fritten
    preis: 32,00 €
  - gericht: Französisch Charluxe Rinderfilet (ca. 240gr.)<br>Rinderfilet Teriyaki
    inhalte: Shiitake Pilze | Kartoffelterrine | grüner Spargel | Fingermöhren
    preis: 31,00 €
schoenleber:
  - jahr: 2017
    sorte: Gutsriesling
    art: trocken
    preis1: 5,50
    preis2: --
    beschreibung: Dieser Wein ist frisch und fruchtig und passt eigentlich immer, auch einfach mal so. 
  - jahr: 2017
    sorte: Gutsriesling
    art: feinherb
    preis1: 5,50
    preis2: --
    beschreibung: Wer es nicht ganz so trocken mag, liegt mit diesem spritzigen halbtrockenen Wein genau richtig. 
ernst:
  - jahr: 2018
    sorte: Chardonnay
    art: trocken
    preis1: 5,50
    preis2: 17,-
    beschreibung: Ein mineralischer, feinfruchtig cremiger Chardonnay, der frisch und saftig daherkommt. Er hat eine leichte Säure, ist harmonisch im Abgang und ein guter Begleiter für alle Gerichte. 
  - jahr: 2018
    sorte: Grauburgunder
    art: trocken
    preis1: 6,50
    preis2: 21,-
    beschreibung: Ein klassischer, säurearmer Brugunder mit kräftigen mineralischen Noten, der gerne zu Fisch- und Geflügelgerichten gewählt wird. 
  - jahr: 2017
    sorte: Riesling Classic
    art: trocken
    preis1: 6,-
    preis2: 20,-
    beschreibung: Ein klassischer feinfruchtiger und herzhafter Riesling, sehr harmonisch und mit einer feinen Restsüße. Dieser Weißwein hat ein klares Riesling-Bukett und schmeckt ein wenig nach Zitrusfrüchten. 
  - jahr: 2017
    sorte: RBlanc de Noirs Spätburgunder
    art: trocken
    preis1: 6,50
    preis2: 21,-
    beschreibung: Ein Spätburgunder - weiß gekeltert! Dieser Wein verfügt über eine herrliche Spätburgunder-Aromatik, die mit der Lebendigkeit und Frische eines Weißweins daherkommt.  
schneider:
  - jahr: 2020
    sorte: Chardonnay
    art: trocken
    preis1: 7,50
    preis2: 24,-
    beschreibung: Ein frischer, zartgelber und herrlich gelungener Weißwein mit Aromen von exotischen Früchten wie Banane und Guave. Mineralische Nuancen kommen dazu. Auf der Zunge und am Gaumen ist der Schneider-Chardonnay ein weicher und milder Wein mit würzigem, feinfruchtigem Charakter und einem langen eleganten Abgang. 
  - jahr: 2018
    sorte: Reisling Alte Reben
    art: trocken
    preis1: --
    preis2: 25,-
    beschreibung: Für diesen Wein hat Marcus Schneider Trauben von den ältesten Riesling-Rebstöcken im Freidelsheimer Schlossberg verwendet. Das Ergebnis ist bemerkenswet, ein tiefgründiger Charakterwein mit einer exzellenten Länge. Ein Duft von Pfirsischen und Zitrusfrüchten, abgerundet von einem satten Geschmack mit einem schönen Schmelz. 
pauly:
  - jahr: 2020
    sorte: Cuvee "Trinkfluss"
    art: trocken
    preis1: 5,50
    preis2: 18,-
    beschreibung: Eine leichte Weißwein-Cuvée aus elegantem Weißburgunder, spritzigem Elbling und Riesling. Der ehrliche Moselwein kommt mit einer milden Säure und wenig Alkohol daher und bereitet viel Trinkfreude. 
  - jahr: 2020
    sorte: Weißburgunder
    art: trocken
    preis1: 6,00
    preis2: 19,-
    beschreibung: Reife Birne gepaart mit Scheifer-Mineralität und einer erfrischenden Säure, machen diesen harmonischen Weißburgunder zu einer tollen Reisling-Alternative. Ein Teil der Trauben wird im Barriquefass vergoren, was dem Wein eine gehörige Portion Rückrat verleiht. 
  - jahr: 2020
    sorte: Riesling "Generations"
    art: halbtrocken
    preis1: 6,00
    preis2: 19,-
    beschreibung: Ein typisch mineralischer Mosel-Riesling, der alle drei Generationen des Weinguts Pauly vereint und unwiderstehlichen Trinkspaß bietet. 
  - jahr: 2020
    sorte: Riesling "Tres Naris" (drei Nasen)
    art: trocken
    preis1: 6,50
    preis2: 19
    beschreibung: Der Tres Naris repräsentiert den modernen und authentischen Stil des Weinguts. Der frische udn saftige Fruchtgemschack verführt mit der wunderschönen glasklaren Struktur immer zum nächsten Glas. 
  - jahr: 2020
    sorte: Riesling "Purist"
    art: trocken
    preis1: 6,50
    preis2: 22,-
    beschreibung: Riesling in seiner feinsten From - klar und puristisch und einer unserer Lieblinge. Es ist ein toller WEin für alle "Trockenliebhaber", die müde von all den Alkohol- und Fruchtbomben sind. 
sekternst
  - jahr: 2018
    sorte: Eltviller Taubenberg Riesling sekternst  
    art: trocken
    preis2: 18,-
    beschreibung: Ein Sektgenuss mit klaren Traubenaromen und feiner Restsüße, der zu unkompliziertem Trinkgenuss einlädt. 
---                

<!-- Header Banner -->
<header class="grid">
    <div class="grid-center col-12 padded-2 bg-image light-text">
        
    {% include header-nav-pages.html %}
    
    </div>
</header>

<!-- Menu section  -->
<section class="padded bg-featured light-text menu grid-center" id="food">
    <div class="col-12 center">
        <h2 class="text-lg" id="Speisen"> Speisen </h2>
        <p>Lassen Sie freitgs und samstags abends ihren Gaumen mit unseren leckren und kreativ zubereiteten Speisen verwöhnen. <br>Schauen Sie vorbei, genießen Sie ds Wochenende und lassen bei einem guten Glas Wein einfach die Seele baumeln. </p>
    </div>

    <!-- First colum -->
    <div class="col-6_sm-12 padded-2">
        <h3> Aperitif</h3>
            <div class="grid">
                {% for item in page.aperitif %}
                <div class="col-10 editable">
                    <p class="margin-0 menu-margin menu-text"> {{item.gericht}} </p>
                    <p class="small-text"> {{item.inhalte}}  </p>
                </div>
                <div class="col-2 editable">
                    <span class="price"> {{item.preis}} </span>
                </div>
                {% endfor %}
            </div>


        <h3> Vorspeisen</h3>
            <div class="grid">
                {% for item in page.vorspeisen %}
                <div class="col-10 editable">
                    <p class="margin-0 menu-margin menu-text"> {{item.gericht}} </p>
                    <p class="small-text"> {{item.inhalte}}  </p>
                </div>
                <div class="col-2 editable">
                    <span class="price"> {{item.preis}} </span>
                </div>
                {% endfor %}
            </div>
    </div>

    <!-- Second colum -->
    <div class="col-6_sm-12 padded-2 mob-padded-t-0">
        <h3> Hauptspeisen</h3>
            <div class="grid">
                {% for item in page.hauptspeisen %}
                <div class="col-10 editable">
                    <p class="margin-0 menu-margin menu-text"> {{item.gericht}} </p>
                    <p class="small-text"> {{item.inhalte}}  </p>
                </div>
                <div class="col-2 editable">
                    <span class="price"> {{item.preis}} </span>
                </div>
                {% endfor %}
            </div>

        <h3 class ="margin-t-1"> Dessert</h3>
            <div class="grid">
                {% for item in page.dessert %}
                <div class="col-10 editable">
                    <p class="margin-0 menu-margin menu-text"> {{item.gericht}} </p>
                    <p class="small-text"> {{item.inhalte}} </p>
                </div>
                <div class="col-2 editable">
                    <span class="price"> {{item.preis}} </span>
                </div>
                {% endfor %}
            </div>
    </div>  
</section>       

<section>
    <div class="col-12 center">
        <h3> Premium Steaks</h3>
            <p>Weltweit steht Black Angus Rindfleisch für höchste Qualität und ist bei Gourmetkennern besonders beliebt. Das zarte und saftige Fleisch mit seiner ausgeprägten Marmorierung macht dieses Rindfleisch einfach unverwechselbar und besonders</p>
            <div class="grid">
                {% for item in page.steak %}
                <div class="col-4_sm-0"></div>
                <div class="col-4_sm-12 center editable">
                    <p class="margin-0 menu-margin menu-text"> {{item.gericht}} </p>
                    <p class="small-text"> {{item.inhalte}} </p>
                </div>
                <div class="col-2 editable">
                    <span class="price">  {{item.preis}}</span>
                </div>
                <div class="col-2_sm-0"></div>
                {% endfor %}
            </div>

        <p class="small-text">Bitte fragen Sie unseren Service nach Allergenen und Zusatzstoffen sowie vegetarischen Alternativen oder einer Weinempfehlung</p>
</section>       

<!-- Wein section  -->
<section class="padded menu grid-center">
  <div class="col-12 center">
      <h2 class="text-lg"> Weinkarte </h2>
      <p>Es ist so weit...<br>Ab sofort können Sie bei uns eine Auswahl an Weinen zum "Mitnahmepreis" erwerben. Stöbern Sie gerne hier in unserer Weinboutique und lassen sich inspirieren.<br>Wir beraten Sie gerne!</p>
  </div>
          
  <div class="col-12">
    <h3 class="center red-text bold"> Weissweine</h3>
    <p class="center red-text">Deutschland</p>
        <div class="grid">
          <div class="col-8"></div>
          <div class="col-2 center"> 0,2l </div>
          <div class="col-2 center"> 0,75l </div>
                  
          <!-- Wein 1 -->
          
          <div class="col-12">Weingut Schönleber-Blümlein, Rheinghau</div> 
         
          {% for item in page.schoenleber %}                            
          <div class="col-1"> </div>
          <div class="col-1"> {{item.jahr}}</div>
          <div class="col-4">{{item.sorte}}</div>
          <div class="col-2">{{item.art}}</div>
          <div class="col-2 center">{{item.preis1}}</div>
          <div class="col-2 center">{{item.preis2}}</div>

          <div class="col-12 small-text">{{item.beschreibung}}</div>
         
          {% endfor %}

          <div class="col-12">Weingut H.J. Ernst, Rheingau</div> 
         
          {% for item in page.ernst %}                            
          <div class="col-1"> </div>
          <div class="col-1"> {{item.jahr}}</div>
          <div class="col-4">{{item.sorte}}</div>
          <div class="col-2">{{item.art}}</div>
          <div class="col-2 center">{{item.preis1}}</div>
          <div class="col-2 center">{{item.preis2}}</div>

          <div class="col-12 small-text">{{item.beschreibung}}</div>
         
          {% endfor %}

          <div class="col-12">Weingut Markus Schneider, Pfalz</div> 
         
          {% for item in page.schneider %}                            
          <div class="col-1"> </div>
          <div class="col-1"> {{item.jahr}}</div>
          <div class="col-4">{{item.sorte}}</div>
          <div class="col-2">{{item.art}}</div>
          <div class="col-2 center">{{item.preis1}}</div>
          <div class="col-2 center">{{item.preis2}}</div>

          <div class="col-12 small-text">{{item.beschreibung}}</div>
         
          {% endfor %}

          
          <div class="col-12">Weingut Axel Pauly, Mosel</div> 
         
          {% for item in page.pauly %}                            
          <div class="col-1"> </div>
          <div class="col-1"> {{item.jahr}}</div>
          <div class="col-4">{{item.sorte}}</div>
          <div class="col-2">{{item.art}}</div>
          <div class="col-2 center">{{item.preis1}}</div>
          <div class="col-2 center">{{item.preis2}}</div>

          <div class="col-12 small-text">{{item.beschreibung}}</div>
         
          {% endfor %}

        </div>
  </div>

  <div class="col-12">
    <h3 class="center red-text bold"> Sekt | Perlweine</h3>
    <p class="center red-text">Deutschland</p>
        <div class="grid">
          <div class="col-8"></div>
          <div class="col-2 center"> 0,25l</div>
          <div class="col-2 center"> 0,75l </div>
                  
          <!-- Wein 1 -->
          
          <div class="col-12">Weingut H.J. Ernst, Rheingau</div> 
         
          {% for item in page.sekternst %}                            
          <div class="col-1"> </div>
          <div class="col-1"> {{item.jahr}}</div>
          <div class="col-4">{{item.sorte}}</div>
          <div class="col-4">{{item.art}}</div>
          <div class="col-2 center">{{item.preis2}}</div>

          <div class="col-12 small-text">{{item.beschreibung}}</div>
         
          {% endfor %}
      </div>
    </div>
</section>
