* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {scroll-behavior: smooth;}

/* Re-usable classes */

.tall-40 {min-height: 40vh;}
.tall-50 {min-height: 50vh;}
.tall-60 {min-height: 60vh;}
.tall-70 {min-height: 70vh;}
.tall-80 {min-height: 80vh;}
.tall-90 {min-height: 90vh;}

.padded {padding: 5%}
.padded-sm {padding: 2%}
.padded-1 {padding: 1rem;}
.padded-2  {padding: 2rem;}

.padded-t-2 {padding-top: 2rem;}
.padded-b-2 {padding-bottom: 2rem;}
.padded-b-0 {padding-bottom: 0;}
.padded-0 {padding: 0;}

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

.margin-0 {margin-bottom: 0;}
.margin-05{margin-bottom: 0.5rem;}
.margin-1 {margin-bottom: 1rem;}
.margin-2 {margin-bottom: 2rem;}

.margin-t-0 {margin-top: 0;}
.margin-t-1 {margin-top: 1rem;}

.margin-l {margin-left: 1rem;}

.margin-l-r {margin-left: 3rem;
            margin-right: 3rem;}

/* Typography */

body {
    font-family: 'Martel', serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Didot', Georgia, serif;
    font-weight: normal;
}

h1 {
    font-size: 10rem;
    line-height: 0.8;}

h1 span {
    display: block;
    font-size: 3.5rem;
    line-height: 0.9;
}

h2 {font-size: 2.5rem;}

h2 span {
    display: block;
    font-size: 2rem;
    line-height: 0.9;
}

h3 {font-size: 2.5rem;}

h4 {font-size: 1.5rem;}


a {color: inherit;
text-decoration: none;}

/* Utility Classes */

.featured-text {color: #12150e;}
.light-text {color: white;}
.red-text {color:#65231A}

.text-lg {font-size: 4.5rem;}
.tight-text {line-height: 0.8;}
.wide-text {line-height: 1.8;}

.price {
    display: block;
    font-weight: 400;
    margin-top: 0.5rem;
    text-align: right;}

.menu-margin {margin-top: 0.5rem;}
.menu-text {font-size: 1rem;}
.small-text {font-size: 0.8rem;}

menu h3 {
    margin: 1.3rem 0;
}

/* Header & Footer */
footer {
    padding: 5%;
    padding-bottom: 1rem;
}

footer a {
    font-size: 1.2rem;
}

footer h2 {
    margin-bottom: 0.5rem;
}

.opacity {
    font-size: 0.8rem;
    opacity: 0.8;
}

.bold {font-weight:800;}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem, 0.8rem;
    margin: 1rem;
    display: inline-block;}

/* Hamburger Nav */
.hamburger-button {
    cursor: pointer;
    padding: 0 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    margin-top: -0.7rem;
    position: fixed;
    right: 1rem;
    top: 2.5rem;
    z-index: 2;
    color: #65231A;
}

.hamburger-button.active {
    color: white;
}

.mobile-menu {
    display: none; 
    background-color: #65231A; 
    padding: 5%;
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.mobile-menu a {
    text-decoration: none; 
    color: white; 
    padding: 5vh 5%;
    display: block;
    font-weight: normal;
    font-size: 1.5rem;
}


/* Image Style */
.overlay {background-color: rgba(0, 0, 0, 0.5);}*
.gallery [class*="col-"] {padding: 0.5%;}

.bg-image {
    background-color: #65231A;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landscape {padding-bottom: 66%}
.square {padding-bottom: 100%}

.bg-1 {    background-image: url('/images/Eingansbereich.jpg');}
.bg-3 {     background-image: url('/images/restaurant.jpg');}


.bg-featured {background-color: #12150e;}
.bg-light {background-color: #968575;}

.bg-team-1 {background-image: url(/images/team-1.jpg);}
.bg-team-2 {background-image: url(/images/team-2.jpg);}
.bg-team-3 {background-image: url(/images/team-3.jpg);}
.bg-team-4 {background-image: url(/images/team-4.jpg);}


.bg-logo {
    background-image: url(/images/logotransparent.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2rem 5rem;
}

/* dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
   }
   .dropdown-title {
    padding: 0.25rem 0.5rem;
    display: inline-block;
   }
   .dropdown-content {
    position: absolute;
    top: 100%;
    left: -1rem;
    padding: 0.5rem;
    display: none;
    /* background-color: #12150e; */
    /* opacity: 70%; */
    z-index: 2;
    text-align: left;
    min-width: 10rem;
   }
   .dropdown:hover .dropdown-content {
    display: block;
   }
   .dropdown-content a {
    display: block;
   }


.mob-show {display: none;}

@media(max-width:48em) {
    .mob-hide {display: none;}
    .mob-show {display: block;}
    .mob-padded-t-0 {padding-top:0;}

    h1 {font-size: 6rem;}
    h1 span {font-size: 2rem;}
    footer a {font-size: 1rem;}
}