<div class="col-2-middle mob-hide">
    <a href="/index.html" class="bg-logo margin-l-r"></a>
</div>
<nav class="col-10-middle center mob-hide">
    <a href="/#home" class="margin-l-r">Startseite</a>    
    <a href="/#Opening" class="margin-l-r">Öffnungszeiten</a>
    <div class="dropdown">
      <a href="/menu.html" class="dropdown-title">Menü</span>
      <div class="dropdown-content">
          <a href="/#Speisen">Speisen</a>
          <a href="/#Wein">Wein</a>
          <a href="/#Bier">Bier</a>
      </div>
    </div>
    <a href="/Weinboutique.html" class="margin-l-r">Wein-Boutique</a>
    <a href="/Catering.html" class="margin-l-r">Catering</a>
    <a href="/Kontakt.html" class="margin-l-r">Kontakt</a>
</nav>


  <!-- Mobile Menu -->
  <div class="col-12 center mob-show">
    <a class="hamburger-button"> &#9776; </a>
  </div>

  <div class="mobile-menu">
    <nav>
        <a href="/#home">Startseite</a>
        <a href="/#Opening">Kontakt & Öffnungszeiten</a>
        <a href="/menu.html">Menü</a> 
        <a href="/Weinboutique.html">Wein-Boutique</a>
        <a href="/Catering.html">Catering</a>
        <a href="/Kontakt.html">Kontakt</a>
    </nav>
</div>