<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;700&display=swap" rel="stylesheet">

    <!-- LIghtGallery / Pop Up -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <!-- Own Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    
    <title>{{page.title}}</title>

</head>

<body>
   
    {{content}}
    

<!-- Footer Section  -->
<footer class="grid padded-sm bg-image light-text">
    <div class="col-12">
      <h2 class="bg-logo"></h2>
    </div>

    <div class="col-4">
      <p> Tel: (0157) 826 592 20 </p>
      <p> Hauptstr. 29a | 56414 Hundsangen</p>
    </div>

    <div class="col-4 grid">
        <p class="col-12 center"> Copyright 2021</p>
        <a href="/datenschutz.html" class="col-6 right opacity">Datenschutz</a>
        <a href="#" class="col-6 left opacity">Impressum</a>
    </div>
 
    <div class="col-4-middle right light-text">
      <p class="margin-r-1">Social Media</p>
        <nav>
          <a href="https://www.facebook.com/KulinariaHundsangen">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.instagram.com/kulinariahundsangen/">
            <i class="fab fa-instagram"></i>
          </a>
        </nav>
    </div>


</footer>


 <!--------------------- Add jQuery -------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- LightGallery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>
<!-------------- custom javascript files -------------->
<script src="/scripts.js"></script> 
</body>

</html>